.benefits__container {
    background-color: #111518;
    height: 437px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    position: relative;
  }
  .benefits__title {
    width: 180px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .benefits__title-decoration {
    color: #ff6b09;
  }

  .benefits__list-wrapper {
    width: calc(100% - 40px);

    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #ffffff;
    margin-top: 30px;
    box-shadow: -5px 8px 26px 0px #0000000a;
  }

  .benefits__list {
    list-style: none;
    padding-left: 30px;
    padding-right: 35px;
    padding-top: 20px;
    color: #111518;
  }
  .benefits__ordinal-number {
    color: #ff6b09;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
  }

  .benefits__description {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
    color: #111518;
  }

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .benefits__container {
      height: 340px;
      padding-left: 40px;
      padding-right: 40px;
    }
    .benefits__title{
        font-size: 26px;
        width: 500px;
    }
    .benefits__list-wrapper {

      margin-top: 0;

      width: calc(100% - 80px);
      top: -50px;
      transform: translate(0%, 50%);
      height: 303px;

    }
    .benefits__ordinal-number {
      font-size: 14px;
    }
    .benefits__list {
      display: flex;
      flex-wrap: wrap;
      padding-top: 35px;
    }
    .benefits__item {
      flex-basis: calc(100% / 2);
      padding-left: 42px;
    }
    .benefits__description {
      padding-right: 40px;
      padding-bottom: 30px;
      font-size: 14px;
    }
  }

@media screen and (min-width: 1280px) {
    .benefits__container {
      height: 180px;
      padding-left: 184px;
      padding-right: 184px;
    }
    .benefits__list-wrapper {
      bottom: 0;
      transform: translate(0%, 50%);
      max-width: calc(100% - 368px);
      height: 354px;
    }
    .benefits__title {
      font-weight: 800;
      font-size: 46px;
      line-height: 130%;
      letter-spacing: 0.03em;
      margin-top: 114px;

      display: none;
    }

    .benefits__list {
      display: flex;
      flex-wrap: wrap;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.08em;
      padding-left: 114px;
      padding-top: 68px;
    }

    .benefits__item {
      flex-basis: calc(100% / 3);
    }

    .benefits__description {
      padding-right: 40px;
      font-size: 20px;
      line-height: 28px;
    }
    .benefits__ordinal-number {
      font-size: 20px;
      line-height: 164.9%;
    }
  }
