  .benefits__title {
    position: absolute;
    text-align: left;
    width: 180px;
    align-items: flex-start;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #ffffff;
    bottom: 437px;
  } 

  .benefits__list-wrapper {
    height: 638px;
    width: calc(100% - 40px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -231px;
    background-color: #ffffff;
    margin-top: 30px;
    box-shadow: -5px 8px 26px 0px #0000000a;
  }
  
  .benefits__list {
    list-style: none;
    padding-left: 30px;
    padding-right: 35px;
    padding-top: 20px;
    color: #111518;
  }
  .benefits__ordinal-number {
    color: #ff6b09;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
  }
  
  .benefits__descripton {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
    color: #111518;
  }
  @media screen and (max-width: 768px){

    .benefits__title{
      left: 20px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {

    .benefits__title{
        font-size: 26px;
        width: 500px;
        bottom: 172px;
        text-align: center;
    }
    .benefits__list-wrapper {

      
      bottom: 0;
      transform: translate(0%, 50%);
      width: calc(100% - 80px);
      height: 403px;

    }
    .benefits__ordinal-number {
      font-size: 14px;
    }
    .benefits__list {
      display: flex;
      flex-wrap: wrap;
      padding-top: 35px;
    }
    .benefits__item {
      flex-basis: calc(100% / 2);
      padding-left: 42px;
    } 
    .benefits__descripton {
      padding-right: 40px;
      padding-bottom: 30px;
      font-size: 14px;
    }
  }
 
@media screen and (min-width: 1280px) {
    .benefits__list-wrapper {
      bottom: 0;
      transform: translate(0%, 50%);
      max-width: calc(100% - 368px);
      height: 398px;
    }
    .benefits__title { 
      display: none;
    }
  
    .benefits__list {
      display: flex;
      flex-wrap: wrap;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.08em;
      padding-left: 114px;
      padding-top: 68px;
    }
  
    .benefits__item {
      flex-basis: calc(100% / 3);
      width: 356px;
    }
  
    .benefits__descripton {
      padding-right: 40px;
      font-size: 20px;
      line-height: 28px;
    }
    .benefits__ordinal-number {
      font-size: 20px;
      line-height: 164.9%;
    }
  }
  