.container {
  width: 100%;
  padding: 0 20px;
}
.header__container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages__container {
  display: flex;
  padding-bottom: 50px;
}

.hero__container {
  padding-top: 50px;
  padding-bottom: 47.5px;
  // background-image: url('../images/hero-wave-desktop.jpg');
  background-image: url('../images/hero-wave-desktop-png.png');
  // /* contain nie daje takiego cienia */
  // background-size: contain;
  // /* background-size: auto; */
  // /* cover jakos lepiej z cieniem wyglada */
  background-size: cover; 
  // /* background-size: 480px; */
  background-position: bottom;
  background-repeat: no-repeat;
  // background-color: E5E5E5;
}
.contacts__container {
  max-width: 1314px;
  margin: auto;
}
.footer__container {
  max-width: 1314px;
  margin: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__container {
    // background-image: url('../images/hero-wave-desktop@2x.jpg');
    background-image: url('../images/hero-wave-desktop-png@2x.png');
  }

}

@media screen and (min-width: 480px) {
  .container {
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero__container {
    // max-width: calc(100% - 80px);
    display: flex;
    padding-top: 90px;
    padding-left: 40px;
    // padding-right: 40px;
  }
  .advantages__container {
   padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    padding-top: 40px;
    // padding-right: 191px;
    padding-left: 80px;
  }
  .hero__container {
    display: flex;
    // padding-top: 63px;   
    padding-top: 0; 
    // padding-right: 54px;
    padding-left: 80px;
  }  
  .advantages__container {
  padding-bottom: 130px;
  padding-left: 183px;
  // padding-right: 183px;
  }
}