/* <!-- HEADER --> */
.header__navigation,
.header__btn {
  display: none;
}
.header__btn-hamburger {
 background-color: transparent;
 border: none;
}
.header__logo-icon {
  width: 80px;
  height: 29px;
}

/* <!-- END HEADER --> */
