/* <!--  HERO  --> */
// .hero__section {
//   padding-bottom: 47.5px;
//   // background-image: url('../images/hero-wave-desktop.jpg');
//   background-image: url('../images/hero-wave-desktop-png.png');
//   // /* contain nie daje takiego cienia */
//   background-size: contain;
//   // /* background-size: auto; */
//   // /* cover jakos lepiej z cieniem wyglada */
//   // /* background-size: cover; */
//   // /* background-size: 480px; */
//   background-position: bottom;
//   background-repeat: no-repeat;
//   // background-color: E5E5E5;
// }
// @media (min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .hero__section {
//     // background-image: url('../images/hero-wave-desktop@2x.jpg');
//     background-image: url('../images/hero-wave-desktop-png@2x.png');
//   }
// }
.hero__header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;  
  margin-bottom: 8px;
}
.hero__text-top {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
.hero__text-bottom {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  display: block;
  letter-spacing: 0.08em;
  color: #111518;
}
.accent {
  color: #ff6b09;
}

.btn {
  width: 260px;
  height: 48px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.btn--filled {
  color: #ffffff;
  background: #ff6b09;
  border: none;
}

.btn--transparent {
  color: #ff6b09;
  background: transparent;
  border: 2px solid #ff6b09;
}

.hero__btn {
  margin-top: 52px;
  margin-bottom: 55px;
  display: block;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
}
.hero__img {
  width: 208px;
  height: 178px;
  margin-left: auto;
  margin-right: auto;

}

@media screen and (min-width: 768px) {
  .hero__section {
  padding-bottom: 0;
  }
  .hero__wrapper {
    flex-basis: calc(100% / 2);
  } 

  .hero__img-wrapper {
    flex-basis: calc(100% / 2);
    overflow: visible;

  }
  .hero__img {
    width: 376px;
    height: 321px;    
    transform: translate(24px,-5px);
  }
  .hero__header {   
    font-size: 26px;
    line-height: 130%;
  }
  .hero__btn {
    margin-top: 52px;
    margin-bottom: 137.5px;    
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text-bottom {
    display: inline;
    font-weight: 700;
    font-size: 20px;
    line-height: 164.9%;
  }
  .hero__text-top {
    font-size: 20px;
    line-height: 164.9%;
  }
  .hero__header {   
    font-size: 58px;
    line-height: 130%;
    padding-top: 50px;
  }
  .hero__img {
    height: 100%;
    width: 100%;
    display: block;
    // max-width: 841px;
    // max-height: 718px;  
    object-fit: contain;
    transform: translate(0, 0);
    // transform: translate(130px,-54px);
    // position: absolute;
    // overflow: hidden;
    // top: -54px;
    // left: 130px;
  }
  .hero__wrapper {
    // min-width: 495px;
    width: 485px;
  }
  .hero__img-wrapper {    
    // position: relative;       
    height: 718px;
    // overflow: hidden;
    // flex-basis: calc(100% / 2);
  } 
  .hero__btn {
    margin-left: 0;
    padding-top: 0;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 354px;
    height: 70px;
  }
 
}
/* <!--  END HERO  --> */