/* <!--   mobile-menu -->   */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
  background-color: rgba(17, 21, 24, 0.9);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 500ms linear;
  // transform: translateX(295px);
  // transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open__logo-icon {
  width: 80px;
  height: 29px;
}

.menu-open__btn-close {
  position: absolute;
  background-color: transparent;
  border: none;
  /* width: 30px;
  height: 30px; */
  top: 37px;
  right: 20px;
}
.menu-open__link {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.menu-open__navigation {
  margin-top: 50px;
  margin-bottom: 50px;
}

.link--current {
  color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 41px;
    padding-left: 40px;
  }
  .menu-open__logo-icon {
    width: 128px;
    height: 45px;
  }
  .menu-open__btn {
    display: none;
  }
  .menu-open__navigation {
    display: flex;
    justify-content: center;
  }
  .menu-open__btn-close {
    right: 40px;
    top: 52px;
  }
}
/* <!--   END mobile-menu -->   */