@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 20px;
  /* background-color: red; */
}

.header__container {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin: auto;
  }
}

/* <!-- HEADER --> */
.header__navigation,
.header__btn {
  display: none;
}

.header__btn-hamburger {
  background-color: transparent;
  border: none;
}

.header__logo-icon {
  width: 80px;
  height: 29px;
}

/* <!-- END HEADER --> */
/* <!--  HERO  --> */
.hero__header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */
  letter-spacing: 0.03em;
  color: #111518;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero__text-top {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.08em;
  color: #B9B9B9;
}

.hero__text-bottom {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.08em;
  color: #111518;
}

.accent {
  color: #FF6B09;
}

.btn {
  width: 260px;
  height: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* align-items: center; */
  /* display: flex; */
  /* justify-items: center; */
  /* text-align: center; */
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.btn--filled {
  color: #FFFFFF;
  background: #FF6B09;
  border: none;
}

.btn--transparent {
  color: #FF6B09;
  background: transparent;
  border: 2px solid #FF6B09;
}

.hero__btn {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero__img {
  width: 208px;
  height: 178px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
  background-image: url("../images/header-mobile.png");
  /* background-size: cover; */
}

/* <!--  END HERO  --> */
/* <!--   mobile-menu -->   */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  position: absolute;
  background-color: rgba(17, 21, 24, 0.9);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}

.menu-open__logo-icon {
  width: 80px;
  height: 29px;
}

.menu-open__btn-close {
  position: absolute;
  background-color: transparent;
  border: none;
  /* width: 30px;
  height: 30px; */
  top: 37px;
  right: 20px;
}

.menu-open__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  /* or 36px */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.menu-open__navigation {
  margin-top: 50px;
  margin-bottom: 50px;
}

.current {
  color: #FF6B09;
}

/* <!--   END mobile-menu -->   */
.learning__container {
  background-color: #111518;
  height: 694px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  position: relative;
}

.learning__title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.learning__image {
  display: none;
}

.learning__title-decoration {
  color: #ff6b09;
}

.difficulties__container {
  max-width: calc(100% - 40px);
  position: absolute;
  background-color: #ffffff;
  margin-top: 39px;
  -webkit-box-shadow: -5px 8px 26px 0px #0000000a;
          box-shadow: -5px 8px 26px 0px #0000000a;
}

.difficulties__list {
  list-style: none;
  padding-left: 30px;
  padding-right: 35px;
  padding-top: 20px;
  color: #111518;
}

.difficulties__ordinal-number {
  color: #ff6b09;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
}

.difficulties__descripton {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
  color: #111518;
}

.campfire-svg {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .learning__container {
    height: 340px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .difficulties__container {
    max-width: calc(100% - 80px);
    bottom: 0;
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
    height: 303px;
  }
  .difficulties__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .difficulties__item {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
  }
  .difficulties__descripton {
    padding-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .learning__container {
    height: 548px;
    padding-left: 184px;
    padding-right: 184px;
  }
  .difficulties__container {
    bottom: 0;
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
    max-width: calc(100% - 368px);
    height: 354px;
  }
  .learning__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    margin-top: 114px;
  }
  .difficulties__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
    padding-left: 114px;
    padding-top: 68px;
  }
  .difficulties__item {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
  }
  .difficulties__descripton {
    padding-right: 40px;
    font-size: 20px;
    line-height: 28px;
  }
  .difficulties__ordinal-number {
    font-size: 20px;
    line-height: 164.9%;
  }
  .campfire-svg {
    display: initial;
  }
}
/*# sourceMappingURL=main.css.map */