@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 20px;
}

.header__container {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.hero__container {
  padding-top: 50px;
  padding-bottom: 47.5px;
  background-image: url("../images/hero-wave-desktop-png.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.contacts__container {
  max-width: 1314px;
  margin: auto;
}

.footer__container {
  max-width: 1314px;
  margin: auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: url("../images/hero-wave-desktop-png@2x.png");
  }
}

@media screen and (min-width: 480px) {
  .container {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 90px;
    padding-left: 40px;
  }
  .advantages__container {
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    padding-top: 40px;
    padding-left: 80px;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    padding-left: 80px;
  }
  .advantages__container {
    padding-bottom: 130px;
    padding-left: 183px;
  }
}

/* <!-- HEADER --> */
.header__navigation,
.header__btn {
  display: none;
}

.header__link:hover,
.header__link:focus {
  color: #ff6b09;
}

.header__btn-hamburger {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 35.5px;
  right: 20px;
}

.header__logo-icon {
  width: 80px;
  height: 29px;
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: block;
    margin-right: 71px;
  }
  .header__logo-icon {
    width: 128px;
    height: 45px;
  }
  .header__btn-hamburger {
    top: 52px;
    right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header__btn-hamburger {
    display: none;
  }
  .header__btn {
    display: block;
    margin-right: 0;
    min-width: 336px;
  }
  .header__navigation {
    display: block;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 100px;
  }
  .header__link {
    text-transform: uppercase;
    color: #B9B9B9;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
  }
  .header__item {
    margin-right: 30px;
  }
}

/* <!-- END HEADER --> */
/* <!--  HERO  --> */
.hero__header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 8px;
}

.hero__text-top {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

.hero__text-bottom {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  display: block;
  letter-spacing: 0.08em;
  color: #111518;
}

.accent {
  color: #ff6b09;
}

.btn {
  width: 260px;
  height: 48px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  cursor: pointer;
}

.btn--filled {
  color: #ffffff;
  background: #ff6b09;
  border: none;
}

.btn--transparent {
  color: #ff6b09;
  background: transparent;
  border: 2px solid #ff6b09;
}

.hero__btn {
  margin-top: 52px;
  margin-bottom: 55px;
  display: block;
  text-align: center;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero__img {
  width: 208px;
  height: 178px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero__section {
    padding-bottom: 0;
  }
  .hero__wrapper {
    width: calc(100% / 2);
  }
  .hero__img {
    width: 376px;
    height: 321px;
    -webkit-transform: translate(24px, -5px);
            transform: translate(24px, -5px);
  }
  .hero__header {
    font-size: 26px;
    line-height: 130%;
  }
  .hero__btn {
    margin-top: 52px;
    margin-bottom: 137.5px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text-bottom {
    display: inline;
    font-weight: 700;
    font-size: 20px;
    line-height: 164.9%;
  }
  .hero__text-top {
    font-size: 20px;
    line-height: 164.9%;
  }
  .hero__header {
    font-size: 58px;
    line-height: 130%;
    padding-top: 70px;
  }
  .hero__img {
    height: 100%;
    width: 100%;
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .hero__wrapper {
    width: 495px;
  }
  .hero__img-wrapper {
    height: 718px;
    padding-left: 80px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .hero__btn {
    margin-left: 0;
    padding-top: 0;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
  }
}

/* <!--  END HERO  --> */
.advantages__header {
  display: none;
}

.advantages__description::before {
  display: block;
  content: '';
  width: 59px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
}

.advantages__description--program::before {
  background-image: url(../images/advantages-1.svg);
}

.advantages__description--methods::before {
  background-image: url(../images/advantages-2.svg);
}

.advantages__description--result::before {
  background-image: url(../images/advantages-3.svg);
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 75px;
}

.advantages__item {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 33px;
  padding-left: 68px;
}

.advantages__description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: #111518;
}

@media screen and (min-width: 480px) {
  .advantages__list {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .advantages__description::before {
    top: -13px;
  }
  .advantages__item {
    padding-bottom: 63px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 0;
  }
  .advantages__description::before {
    top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 0;
  }
  .advantages__description {
    font-size: 20px;
  }
  .advantages__description::before {
    width: 100px;
    height: 102px;
    top: -18px;
    left: -11px;
  }
}

/* <!--   mobile-menu -->   */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  position: fixed;
  background-color: rgba(17, 21, 24, 0.9);
  width: 100%;
  height: 768px;
  left: 0;
  top: 0;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}

.menu-open__logo-icon {
  width: 80px;
  height: 29px;
}

.menu-open__btn-close {
  position: absolute;
  background-color: transparent;
  border: none;
  /* width: 30px;
  height: 30px; */
  top: 37px;
  right: 20px;
}

.menu-open__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.menu-open__navigation {
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu-open__link:hover,
.menu-open__link:focus {
  color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 41px;
    padding-left: 40px;
  }
  .menu-open__logo-icon {
    width: 128px;
    height: 45px;
  }
  .menu-open__btn {
    display: none;
  }
  .menu-open__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-open__btn-close {
    right: 40px;
    top: 52px;
  }
}

/* <!--   END mobile-menu -->   */
.learning__container {
  background-color: #111518;
  height: 694px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  position: relative;
}

.learning__title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.learning__image {
  display: none;
}

.learning__title-decoration {
  color: #ff6b09;
}

.difficulties__container {
  max-width: calc(100% - 40px);
  position: absolute;
  background-color: #ffffff;
  margin-top: 39px;
  -webkit-box-shadow: -5px 8px 26px 0px #0000000a;
          box-shadow: -5px 8px 26px 0px #0000000a;
}

.difficulties__list {
  list-style: none;
  padding-left: 30px;
  padding-right: 35px;
  padding-top: 20px;
  color: #111518;
}

.difficulties__ordinal-number {
  color: #ff6b09;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
}

.difficulties__descripton {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
  color: #111518;
}

.campfire-svg {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .learning__container {
    height: 340px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .difficulties__container {
    max-width: calc(100% - 80px);
    bottom: 0;
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
    height: 303px;
  }
  .difficulties__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .difficulties__item {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
  }
  .difficulties__descripton {
    padding-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .learning__container {
    height: 548px;
    padding-left: 184px;
    padding-right: 184px;
  }
  .difficulties__container {
    bottom: 0;
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
    max-width: calc(100% - 368px);
    height: 354px;
  }
  .learning__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    margin-top: 114px;
  }
  .difficulties__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
    padding-left: 114px;
    padding-top: 68px;
  }
  .difficulties__item {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
  }
  .difficulties__descripton {
    padding-right: 40px;
    font-size: 20px;
    line-height: 28px;
  }
  .difficulties__ordinal-number {
    font-size: 20px;
    line-height: 164.9%;
  }
  .campfire-svg {
    display: initial;
  }
}

/* HOW DO WE DO IT */
.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}

.description__list {
  margin-top: 30px;
}

.description__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
  margin-top: 20px;
}

.description__title::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ff6b09;
  margin-left: calc(50% - 15px);
  margin-top: 20px;
  margin-bottom: 20px;
}

.description__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

.description__item {
  width: 280px;
  height: 280px;
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.description__icon {
  text-align: center;
  padding-top: 0 auto;
  fill: #ff6b09;
}

.description__item:hover {
  background-color: #ff6b09;
}

.description__item:hover > .description__icon {
  fill: #fff;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.description__item:hover > .description__text {
  color: #fff;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.description__item:hover > .description__title {
  color: #fff;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.description__item:hover > .description__title::after {
  background-color: #fff;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

@media screen and (min-width: 768px) {
  .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #111518;
    text-align: center;
  }
  .description__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -20px;
    margin-top: 3px;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  }
  .description__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #111518;
    margin-top: 20px;
  }
  .description__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #b9b9b9;
  }
  .description__item {
    -ms-flex-preferred-size: calc(100% / 2 - 20px);
        flex-basis: calc(100% / 2 - 20px);
    width: 334px;
    height: 334px;
    padding-top: 30px;
    margin-left: 20px;
    margin-top: 27px;
    background: #ffffff;
    -webkit-box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  }
  .description__icon {
    text-align: center;
    padding-top: 0 auto;
    fill: #ff6b09;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #111518;
    text-align: center;
    margin-top: 280px;
  }
  .description__list {
    margin-left: -20px;
    margin-top: 30px;
  }
  .description__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #111518;
    margin-top: 20px;
  }
  .description__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #b9b9b9;
  }
  .description__item {
    -ms-flex-preferred-size: calc(100% / 3 - 20px);
        flex-basis: calc(100% / 3 - 20px);
    width: 425px;
    height: 396px;
    padding: 40px 30px 55px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  }
  .description__icon {
    text-align: center;
    padding-top: 0 auto;
    fill: #ff6b09;
  }
}

/* END HOW DO WE DO IT */
body {
  font-family: 'Montserrat', sans-serif;
  color: #858585;
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
}

.teacher-section {
  margin-top: 330px;
  padding-bottom: 16px;
  position: relative;
}

.container.teacher-section__container {
  margin: 0 auto;
  width: 280px;
}

.teacher-section__title {
  font-family: "MontserratEB", sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 21px;
  color: #111517;
  line-height: 30px;
  letter-spacing: 1px;
}

.teacher-section__img img {
  margin-bottom: 19px;
  width: 279px;
}

.teacher-achievement__name {
  font-family: "MontserratEB", sans-serif;
  color: #111517;
  font-size: 16px;
  line-height: 29px;
  font-weight: 800;
  letter-spacing: .7px;
}

.teacher-achievement__list {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  padding-top: 20px;
  border-top: 1px solid rgba(133, 133, 133, 0.38);
  list-style: none;
}

.teacher-achievement__item {
  font-family: "MontserratSB", sans-serif;
  position: relative;
  padding-left: 34px;
  width: 280px;
  color: #111517;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: .7px;
}

.teacher-achievement__item:not(:last-child) {
  margin-bottom: 14px;
}

.teacher-achievement__item::before {
  display: block;
  content: '';
  width: 16px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icon-check.svg");
}

.teacher-achievement__about {
  font-family: "MontserratR", sans-serif;
  margin: 0;
  margin-bottom: 13px;
  padding-left: 15px;
  letter-spacing: .7px;
}

.teacher-achievement__about:last-of-type {
  margin-bottom: 8px;
}

.teacher-achievement__about:first-of-type::before {
  margin-bottom: 17px;
  display: block;
  content: '';
  width: 25px;
  height: 2px;
  background-color: #ff6b08;
}

.teacher-achievement__link {
  display: block;
  font-family: "MontserratR", sans-serif;
  padding-left: 15px;
  color: #ff6b08;
  font-size: 11px;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: .5px;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.teacher-achievement__link:not(:last-of-type) {
  margin-bottom: 8px;
}

.certificate-modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  z-index: 100;
  overflow-y: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.certificate-modal__img {
  width: 320px;
  height: 450px;
}

.certificate-modal_active {
  opacity: 1;
  visibility: visible;
}

.guaranties-section {
  padding-top: 6px;
}

.guaranties-section__title {
  font-family: "MontserratEB", sans-serif;
  font-weight: 800;
  margin-bottom: 3px;
  color: #111517;
  font-size: 20px;
  line-height: 63px;
  text-align: center;
  letter-spacing: 1px;
}

.guaranties {
  background-color: #f1f1f1;
  padding-top: 22px;
  padding-bottom: 24px;
}

.guaranties__list.container {
  width: 280px;
}

.guaranties__list {
  padding: 0;
  list-style: none;
  position: relative;
}

.guaranties__list::after {
  content: '';
  display: inline-block;
  border-width: 1px;
  border-color: #bababa;
  border-style: dotted;
  position: absolute;
  width: 1px;
  height: 80%;
  top: 10px;
  left: 6px;
  z-index: 1;
}

.guaranties__item {
  font-family: "MontserratM", sans-serif;
  font-weight: 500;
  position: relative;
  padding-left: 36px;
  letter-spacing: .6px;
  width: 280px;
  color: #18191d;
}

.guaranties__item:not(:last-child) {
  margin-bottom: 17px;
}

.guaranties__item::before {
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  left: -6px;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icon-campfire.svg");
  z-index: 2;
}

.guaranties__item span {
  color: #ff6b08;
}

.reviews-section {
  padding-top: 44px;
  padding-bottom: 55px;
  text-align: center;
}

.reviews-section__title {
  font-family: "MontserratEB", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 17px;
  color: #111517;
  font-size: 20px;
  line-height: 27px;
  font-weight: 800;
}

.reviews-section__title-tablet {
  display: none;
}

.slider {
  position: relative;
  width: 280px;
  margin: auto;
}

.slides__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides__content {
  padding: 22px 24px 34px;
  background-color: #ffffff;
}

.slides__item {
  -webkit-box-shadow: 0 0 10px 0 rgba(29, 29, 27, 0.09);
          box-shadow: 0 0 10px 0 rgba(29, 29, 27, 0.09);
}

.slides__image {
  width: 80px;
  margin: 0 auto 14px;
}

.slides__link {
  display: block;
  margin-bottom: 8px;
  width: 34px;
  margin: 0 auto;
}

.slides__content-person {
  margin-bottom: 10px;
}

.slides__title {
  font-family: "MontserratEB", sans-serif;
  color: #ff6b08;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: .6px;
  margin-bottom: 5px;
}

.slides__subtitle {
  font-family: "MontserratM", sans-serif;
  margin: 0;
  margin-bottom: 12px;
  color: #858585;
  line-height: 17px;
  font-weight: 500;
  letter-spacing: .6px;
}

.slides__about {
  font-family: "MontserratM", sans-serif;
  margin: 0;
  color: #18191d;
  font-weight: 500;
  letter-spacing: .6px;
  height: 165px;
  overflow: hidden;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.slides__about_active {
  height: 100%;
  overflow: visible;
}

.slides__about-tablet {
  display: none;
}

.slides__about-tablet + .slides__button {
  display: none;
}

.slides__button {
  font-family: "MontserratM", sans-serif;
  margin: 0;
  padding: 0;
  right: 36px;
  bottom: 34px;
  color: #ff6b08;
  font-size: 11px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.slides__button:focus {
  outline: none;
}

.slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 12px;
  width: 184px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 3;
}

.slider-pagination__item {
  cursor: pointer;
  border: 2px solid transparent;
  background: none;
}

.slider-pagination__item:nth-last-child(-n +4) {
  display: none;
}

.slider-pagination__item:hover,
.slider-pagination__item:focus {
  border: 2px solid #ff6b08;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .container {
    min-width: 688px;
  }
  .container.teacher-section__container {
    width: 688px;
  }
  .teacher-section {
    margin-top: 215px;
    padding-bottom: 20px;
  }
  .teacher-section__title {
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 63px;
    letter-spacing: 1.2px;
  }
  .teacher__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .teacher-section__img img {
    margin-bottom: 0;
    width: 247px;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .teacher-achievement {
    -ms-flex-preferred-size: 398px;
        flex-basis: 398px;
  }
  .teacher-achievement__name {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: .8;
    letter-spacing: 1px;
  }
  .teacher-achievement__list {
    padding-top: 18px;
    margin-bottom: 18px;
  }
  .teacher-achievement__item {
    width: 374px;
    letter-spacing: .7px;
  }
  .teacher-achievement__about {
    padding-left: 2px;
    margin-bottom: 1rem;
    letter-spacing: .5px;
  }
  .teacher-achievement__about:first-of-type::before {
    margin-bottom: 14px;
  }
  .teacher-achievement__about:last-of-type {
    margin-bottom: 13px;
  }
  .teacher-achievement__link {
    padding-left: 2px;
    letter-spacing: .5px;
  }
  .certificate-modal__img {
    width: 354px;
    height: 500px;
  }
  .guaranties-section {
    padding-top: 10px;
  }
  .guaranties-section__title {
    margin-bottom: 9px;
    font-size: 26px;
  }
  .guaranties {
    padding-top: 34px;
    padding-bottom: 29px;
    width: 688px;
    margin: 0 auto;
  }
  .guaranties__list {
    padding: 0 55px;
  }
  .guaranties__list::after {
    left: 67px;
  }
  .guaranties__item {
    padding-left: 42px;
    letter-spacing: .5px;
    width: 100%;
  }
  .guaranties__item::before {
    left: 0;
  }
  .guaranties__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .reviews-section {
    padding-top: 44px;
    padding-bottom: 75px;
  }
  .reviews-section__title {
    display: none;
  }
  .reviews-section__title-tablet {
    font-family: "MontserratEB", sans-serif;
    margin-bottom: 20px;
    color: #111517;
    font-size: 26px;
    line-height: 63px;
    font-weight: 800;
    display: block;
    letter-spacing: 1px;
  }
  .slider {
    width: 688px;
  }
  .slider__ctrl {
    bottom: 208px;
    width: 25px;
    height: 14px;
  }
  .slider__ctrl-prev {
    background-image: url(../images/icon-prev-768.png);
    left: -18px;
  }
  .slider__ctrl-next {
    background-image: url(../images/icon-next-768.png);
    right: -18px;
  }
  .slides__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 44px 0;
  }
  .slides__content-person {
    padding-top: 22px;
    width: 152px;
  }
  .slides__content-about {
    width: 528px;
    text-align: left;
    padding-right: 60px;
  }
  .slides__title {
    font-size: 18px;
    margin-bottom: 16px;
    letter-spacing: 1px;
  }
  .slides__subtitle {
    font-size: 13px;
    letter-spacing: .4px;
    margin-bottom: 18px;
  }
  .slides__about {
    display: none;
  }
  .slides__about + .slides__button {
    display: none;
  }
  .slides__about-tablet + .slides__button {
    display: inline-block;
  }
  .slides__about-tablet {
    display: block;
    margin: 0;
    color: #18191d;
    font-weight: 500;
    letter-spacing: 1.2px;
    height: 120px;
    overflow: hidden;
  }
  .slides__about_active {
    height: auto;
    overflow: visible;
  }
  .slider__pagination {
    padding-top: 20px;
    width: 505px;
  }
  .slider-pagination__item:nth-last-child(-n +4) {
    display: inline-block;
  }
}

@media (min-width: 1280px) {
  .container {
    min-width: 1210px;
  }
  .teacher-section {
    margin-top: 400px;
    padding-bottom: 48px;
    letter-spacing: 1.7px;
  }
  .container.teacher-section__container {
    width: 1210px;
  }
  .teacher-section__title {
    margin-bottom: 44px;
    font-size: 42px;
    letter-spacing: 1.7px;
    text-align: center;
  }
  .teacher-section__img img {
    width: 494px;
  }
  .teacher-achievement {
    -ms-flex-preferred-size: 631px;
        flex-basis: 631px;
  }
  .teacher-achievement__name {
    margin-bottom: 15px;
    font-size: 29px;
  }
  .teacher-achievement__list {
    width: 602px;
    margin-bottom: 26px;
    padding-top: 32px;
  }
  .teacher-achievement__item {
    padding-left: 48px;
    font-size: 17px;
    line-height: 29px;
    width: 100%;
  }
  .teacher-achievement__item::before {
    width: 35px;
    height: 35px;
  }
  .teacher-achievement__about {
    padding: 0;
    font-size: 17px;
    line-height: 29px;
  }
  .teacher-achievement__about:last-of-type {
    margin-bottom: 17px;
  }
  .teacher-achievement__about:first-of-type::before {
    margin-bottom: 30px;
  }
  .teacher-achievement__link {
    padding: 0;
    font-size: 17px;
  }
  .certificate-modal__img {
    width: 512px;
    height: 722px;
  }
  .guaranties-section {
    padding-top: 26px;
  }
  .guaranties-section__title {
    margin-bottom: 26px;
    font-size: 42px;
    letter-spacing: 2px;
  }
  .guaranties {
    padding-top: 48px;
    padding-bottom: 42px;
    width: 1210px;
  }
  .guaranties__list {
    padding-left: 116px;
    padding-right: 120px;
  }
  .guaranties__list::after {
    left: 125px;
  }
  .guaranties__item {
    padding-left: 56px;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: .9px;
  }
  .guaranties__item:nth-of-type(2) span {
    display: block;
    letter-spacing: 1.1px;
  }
  .guaranties__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .guaranties__item::before {
    width: 35px;
    height: 35px;
    left: -8px;
  }
  .reviews-section {
    padding-top: 78px;
    padding-bottom: 100px;
  }
  .reviews-section__title-tablet {
    margin-bottom: 27px;
    font-size: 42px;
    letter-spacing: 2px;
  }
  .slider {
    width: 1064px;
  }
  .slides__about-tablet {
    height: 120px;
  }
  .slides__about_active {
    height: auto;
    overflow: visible;
  }
  .slides__content {
    padding: 40px 0 39px;
    padding-left: 52px;
  }
  .slides__content-person {
    padding-top: 4px;
    width: 213px;
  }
  .slides__image {
    width: 145px;
    margin: 0 auto 22px;
  }
  .slides__content-about {
    width: 805px;
    padding-right: 95px;
  }
  .slides__title {
    font-size: 25px;
    letter-spacing: 1.3px;
    margin-bottom: 11px;
  }
  .slides__subtitle {
    width: 440px;
    margin-bottom: 14px;
  }
  .slides__about-tablet {
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 1.6px;
  }
  .slides__button {
    font-size: 17px;
    line-height: 29px;
  }
  .slider__ctrl {
    bottom: 260px;
  }
  .slider__ctrl-prev {
    left: -55px;
  }
  .slider__ctrl-next {
    right: -55px;
  }
  .slider__pagination {
    padding-top: 38px;
    width: 594px;
  }
}

.section-contacts {
  background: url(../images/contacts_mobile_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #111518;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-contacts {
    background-image: url(../images/contacts_mobile_background@2x.png);
  }
}

.contacts {
  padding: 50px 20px;
}

.contacts__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: auto;
  margin-bottom: 50px;
}

.contacts__title--accent {
  color: #ff6b09;
}

.contacts__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  margin: auto;
  margin-bottom: 30px;
}

.contacts__text--accent {
  color: #ff6b09;
}

@media screen and (min-width: 695px) {
  .contacts {
    padding: 66px 40px;
  }
  .contacts__title {
    font-size: 26px;
  }
  .contacts__text {
    font-size: 14px;
  }
  .section-contacts {
    background-image: url(../images/contacts_tablet_background.png);
  }
}

@media screen and (min-width: 695px) and (min-device-pixel-ratio: 2), screen and (min-width: 695px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 695px) and (min-resolution: 192dpi), screen and (min-width: 695px) and (min-resolution: 2dppx) {
  .section-contacts {
    background-image: url(../images/contacts_tablet_background@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    padding-top: 100px;
  }
  .contacts__title {
    font-size: 46px;
    max-width: 1090px;
  }
  .contacts__text {
    font-size: 30px;
    max-width: 1090px;
    margin-bottom: 50px;
  }
  .section-contacts {
    background-image: url(../images/contacts_desktop_background.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .section-contacts {
    background-image: url(../images/contacts_desktop_background@2x.png);
  }
}

.contact-form__input {
  width: 100%;
  max-width: 390px;
  height: 48px;
  margin-bottom: 20px;
  background-color: #00000000;
  border: 1px solid #ffffff;
  outline: none;
  color: #fff;
}

.contact-form__input::-webkit-input-placeholder {
  color: #ffffff;
  padding-left: 28px;
}

.contact-form__input:-ms-input-placeholder {
  color: #ffffff;
  padding-left: 28px;
}

.contact-form__input::-ms-input-placeholder {
  color: #ffffff;
  padding-left: 28px;
}

.contact-form__input::placeholder {
  color: #ffffff;
  padding-left: 28px;
}

.contact-form__input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

.contact-form__button {
  width: 260px;
  height: 48px;
  margin-top: 30px;
  text-align: center;
  background-color: #ff6b09;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

@media screen and (min-width: 735px) {
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .contact-form__input {
    max-width: 478px;
    margin-bottom: 30px;
  }
  .contact-form__button {
    margin-top: 50px;
    width: 354px;
    height: 70px;
    font-size: 14px;
  }
}

.footer {
  text-align: center;
}

.footer-list__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-list__item--insta {
  margin-top: 30px;
}

.footer-list__item--tel {
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
}

.footer-list__link {
  text-decoration: none;
  color: #111518;
}

.footer-list__link--insta {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(../images/instagram.svg);
}

.icon__phone {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.icon__logo {
  width: 84px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-list__item {
    margin: 0;
  }
  .footer-list__item--tel {
    margin-left: auto;
    margin-right: 24px;
  }
  .footer-list__item--insta::before {
    content: "";
    display: inline-block;
    border: 0.5px solid #b9b9b9;
    height: 40px;
    width: 1px;
    margin-right: 24px;
  }
  .footer-list__link {
    font-size: 20px;
  }
  .footer-list__wrapper {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    margin: auto;
  }
  .icon__logo {
    width: 128px;
    height: 45px;
  }
  .icon__phone {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: auto;
  }
  .footer-list__item--tel {
    margin-left: 250px;
  }
  .footer-list__link {
    font-size: 30px;
  }
  .icon__phone {
    width: 30px;
    height: 30px;
  }
}

.copyright {
  color: #b9b9b9;
  font-size: 14px;
  line-height: 2;
}

.copyright__background {
  background-color: #111518;
  width: 100%;
  height: 70px;
  padding-top: 21px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .copyright {
    text-align: left;
    padding-left: 40px;
  }
}

/*   PROGRAM   */
/*   made by Mateusz   */
.program__container {
  background-color: #111518;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-bottom: 537px;
}

.program__header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.30;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 6px;
}

.program__list--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 64px;
  padding-left: 26px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.program__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.program__list--title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 2.0;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 37px;
}

.program__list--semester {
  position: relative;
}

.program__list--dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FF6B09;
  position: absolute;
  top: 45px;
  left: -36px;
}

.program__list--line {
  width: 1px;
  height: 1200px;
  position: absolute;
  top: 50px;
  left: -5px;
  background-color: #FFFFFF;
}

.program__list--sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.program__list--section {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.08em;
  color: #FF6B09;
  padding-top: 5px;
  padding-bottom: 5px;
}

.program__list--module {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.08em;
  color: #B9B9B9;
  opacity: 0.5;
  width: 176px;
  padding-bottom: 3px;
}

.program__photo {
  width: 120px;
  height: 137px;
  position: absolute;
  bottom: 440px;
  right: 0;
  background-image: url("../images/program-mobile.png");
}

@media screen and (min-width: 768px) {
  .program__container {
    padding-bottom: 392px;
  }
  .program__header {
    font-size: 26px;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 15px;
    padding-left: 25px;
  }
  .program__list--sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .program__list--section-wrapper {
    width: 226px;
  }
  .program__list--wrapper {
    margin-left: 150px;
  }
  .program__list--line {
    height: 720px;
  }
  .program__photo {
    width: 384px;
    height: 280px;
    position: absolute;
    bottom: 253px;
    right: 0;
    background-image: url("../images/program-tablet.png");
  }
}

@media screen and (min-width: 1280px) {
  .program__container {
    padding-bottom: 363px;
  }
  .program__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .program__header {
    font-size: 46px;
    text-align: left;
    padding-top: 120px;
    padding-bottom: 123px;
    padding-left: 184px;
  }
  .program__list--title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.0;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 37px;
  }
  .program__list--section {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.667;
    letter-spacing: 0.08em;
    color: #FF6B09;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .program__list--module {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.08em;
    color: #B9B9B9;
    opacity: 0.5;
    width: 240px;
    padding-bottom: 0px;
  }
  .program__list--sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .program__list--section-wrapper {
    width: 240px;
  }
  .program__list--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 64px;
    padding-left: 26px;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    position: relative;
  }
  .program__list--dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FF6B09;
    position: absolute;
    top: -26px;
    left: -2px;
  }
  .program__list--line {
    display: none;
  }
  .program__list--line-desktop {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 282px;
    left: 0px;
    background-color: white;
  }
  .program__photo {
    width: calc(100% - 850px);
    height: 502px;
    position: absolute;
    bottom: 59px;
    left: 0;
    background-image: url("../images/program-desktop.png");
    background-repeat: no-repeat;
  }
}

/*   END PROGRAM   */
.benefits__title {
  position: absolute;
  text-align: left;
  width: 180px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffffff;
  bottom: 437px;
}

.benefits__list-wrapper {
  height: 638px;
  width: calc(100% - 40px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -231px;
  background-color: #ffffff;
  margin-top: 30px;
  -webkit-box-shadow: -5px 8px 26px 0px #0000000a;
          box-shadow: -5px 8px 26px 0px #0000000a;
}

.benefits__list {
  list-style: none;
  padding-left: 30px;
  padding-right: 35px;
  padding-top: 20px;
  color: #111518;
}

.benefits__ordinal-number {
  color: #ff6b09;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
}

.benefits__descripton {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
  color: #111518;
}

@media screen and (max-width: 768px) {
  .benefits__title {
    left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .benefits__title {
    font-size: 26px;
    width: 500px;
    bottom: 172px;
    text-align: center;
  }
  .benefits__list-wrapper {
    bottom: 0;
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
    width: calc(100% - 80px);
    height: 403px;
  }
  .benefits__ordinal-number {
    font-size: 14px;
  }
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 35px;
  }
  .benefits__item {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
    padding-left: 42px;
  }
  .benefits__descripton {
    padding-right: 40px;
    padding-bottom: 30px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits__list-wrapper {
    bottom: 0;
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
    max-width: calc(100% - 368px);
    height: 398px;
  }
  .benefits__title {
    display: none;
  }
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
    padding-left: 114px;
    padding-top: 68px;
  }
  .benefits__item {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    width: 356px;
  }
  .benefits__descripton {
    padding-right: 40px;
    font-size: 20px;
    line-height: 28px;
  }
  .benefits__ordinal-number {
    font-size: 20px;
    line-height: 164.9%;
  }
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  color: inherit;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.owl-item {
  padding: 10px;
}

.owl-dot {
  display: inline-block;
  content: "";
  width: 54px;
  height: 54px;
  background-image: url("../images/slider/54x54/slide-1.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.owl-dots .owl-dot {
  border: 2px solid transparent;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.owl-dots .owl-dot:not(:last-of-type) {
  margin-right: 5px;
}

.owl-dots .owl-dot.active {
  border: 2px solid #ff6b08;
  border-radius: 50%;
}

.owl-dots .owl-dot:first-of-type {
  background-image: url("../images/slider/54x54/slide-1.png") !important;
}

.owl-dots .owl-dot:nth-of-type(2) {
  background-image: url("../images/slider/54x54/slide-2.png") !important;
}

.owl-dots .owl-dot:nth-of-type(3) {
  background-image: url("../images/slider/54x54/slide-3.png") !important;
}

.owl-dots .owl-dot:nth-of-type(4) {
  background-image: url("../images/slider/54x54/slide-4.png") !important;
}

.owl-dots .owl-dot:nth-of-type(5) {
  background-image: url("../images/slider/54x54/slide-5.png") !important;
}

.owl-dots .owl-dot:nth-of-type(6) {
  background-image: url("../images/slider/54x54/slide-6.png") !important;
}

.owl-dots .owl-dot:nth-of-type(7) {
  background-image: url("../images/slider/54x54/slide-7.png") !important;
}

.owl-dots .owl-dot:nth-of-type(8) {
  background-image: url("../images/slider/54x54/slide-8.png") !important;
}

.owl-dots .owl-dot:nth-of-type(9) {
  background-image: url("../images/slider/54x54/slide-9.png") !important;
}

.owl-dots .owl-dot:nth-of-type(10) {
  background-image: url("../images/slider/54x54/slide-10.png") !important;
}

.owl-dots .owl-dot:nth-of-type(11) {
  background-image: url("../images/slider/54x54/slide-11.png") !important;
}

.owl-dots .owl-dot:nth-of-type(12) {
  background-image: url("../images/slider/54x54/slide-12.png") !important;
}

.owl-dots .owl-dot:nth-of-type(13) {
  background-image: url("../images/slider/54x54/slide-13.png") !important;
}

.owl-dots .owl-dot:nth-of-type(14) {
  background-image: url("../images/slider/54x54/slide-14.png") !important;
}

.owl-dots .owl-dot:nth-of-type(15) {
  background-image: url("../images/slider/54x54/slide-15.png") !important;
}

.owl-dots .owl-dot:nth-of-type(16) {
  background-image: url("../images/slider/54x54/slide-16.png") !important;
}

.owl-dots .owl-dot:nth-of-type(17) {
  background-image: url("../images/slider/54x54/slide-17.png") !important;
}

.owl-dots .owl-dot:focus {
  outline: none;
}

.owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.owl-nav .owl-next {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icon-next-320.png");
}

.owl-nav .owl-prev {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icon-prev-320.png");
}

@media (min-width: 768px) {
  .owl-nav {
    width: 104%;
  }
  .owl-nav .owl-next {
    width: 25px;
    height: 14px;
    background-image: url("../images/icon-next-768.png");
  }
  .owl-nav .owl-prev {
    width: 25px;
    height: 14px;
    background-image: url("../images/icon-prev-768.png");
  }
}

@media (min-width: 1280px) {
  .owl-nav {
    width: 110%;
  }
}
/*# sourceMappingURL=main.css.map */