@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 20px;
}

.header__container {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.hero__container {
  padding-top: 50px;
}

@media screen and (min-width: 480px) {
  .container {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
  .header__container {
    padding-top: 40px;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 90px;
  }
  .advantages__container {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 113px;
  }
  .advantages__container {
    padding-bottom: 130px;
  }
}

/* <!-- HEADER --> */
.header__navigation,
.header__btn {
  display: none;
}

.header__btn-hamburger {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 35.5px;
  right: 20px;
}

.header__logo-icon {
  width: 80px;
  height: 29px;
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: block;
    margin-right: 71px;
  }
  .header__logo-icon {
    width: 128px;
    height: 45px;
  }
  .header__btn-hamburger {
    top: 52px;
    right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header__btn-hamburger {
    display: none;
  }
  .header__btn {
    display: block;
    margin-right: 0;
  }
  .header__navigation {
    display: block;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 144px;
  }
  .header__link {
    text-transform: uppercase;
    color: #B9B9B9;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
  }
  .header__item {
    margin-right: 40px;
  }
}

/* <!-- END HEADER --> */
/* <!--  HERO  --> */
.hero__section {
  padding-bottom: 47.5px;
  background-image: url("../images/hero-wave-desktop.jpg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__section {
    background-image: url("../images/hero-wave-desktop@2x.jpg");
  }
}

.hero__header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 8px;
}

.hero__text-top {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

.hero__text-bottom {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  display: block;
  letter-spacing: 0.08em;
  color: #111518;
}

.accent {
  color: #ff6b09;
}

.btn {
  width: 260px;
  height: 48px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.btn--filled {
  color: #ffffff;
  background: #ff6b09;
  border: none;
}

.btn--transparent {
  color: #ff6b09;
  background: transparent;
  border: 2px solid #ff6b09;
}

.hero__btn {
  margin-top: 52px;
  margin-bottom: 55px;
  display: block;
  text-align: center;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero__img {
  width: 208px;
  height: 178px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero__section {
    padding-bottom: 0;
  }
  .hero__wrapper {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
  }
  .hero__img-wrapper {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
    overflow: visible;
  }
  .hero__img {
    width: 376px;
    height: 321px;
    -webkit-transform: translate(24px, -5px);
            transform: translate(24px, -5px);
  }
  .hero__header {
    font-size: 26px;
    line-height: 130%;
  }
  .hero__btn {
    margin-top: 52px;
    margin-bottom: 137.5px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text-bottom {
    display: inline;
  }
  .hero__header {
    font-size: 58px;
    line-height: 130%;
  }
  .hero__img {
    width: 841px;
    height: 718px;
    -webkit-transform: translate(130px, -54px);
            transform: translate(130px, -54px);
  }
  .hero__wrapper {
    min-width: 495px;
  }
  .hero__img-wrapper {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
  }
  .hero__btn {
    margin-left: 0;
  }
}

/* <!--  END HERO  --> */
.advantages__header {
  display: none;
}

.advantages__item::before {
  display: block;
  content: '';
  width: 59px;
  height: 60px;
  background-image: url(../images/advantages-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  top: 65px;
  left: -70px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item {
  margin-left: 10px;
  margin-right: 10px;
  -ms-flex-preferred-size: calc(100% / 3 - 10px);
      flex-basis: calc(100% / 3 - 10px);
  padding-left: 68px;
}

.advantages__description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: #111518;
}

/* <!--   mobile-menu -->   */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
  background-color: rgba(17, 21, 24, 0.9);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}

.menu-open__logo-icon {
  width: 80px;
  height: 29px;
}

.menu-open__btn-close {
  position: absolute;
  background-color: transparent;
  border: none;
  /* width: 30px;
  height: 30px; */
  top: 37px;
  right: 20px;
}

.menu-open__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.menu-open__navigation {
  margin-top: 50px;
  margin-bottom: 50px;
}

.link--current {
  color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 41px;
    padding-left: 40px;
  }
  .menu-open__logo-icon {
    width: 128px;
    height: 45px;
  }
  .menu-open__btn {
    display: none;
  }
  .menu-open__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-open__btn-close {
    right: 40px;
    top: 52px;
  }
}

/* <!--   END mobile-menu -->   */
.learning__container {
  background-color: #111518;
  height: 694px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  position: relative;
}

.learning__title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.learning__image {
  display: none;
}

.learning__title-decoration {
  color: #ff6b09;
}

.difficulties__container {
  max-width: calc(100% - 40px);
  position: absolute;
  background-color: #ffffff;
  margin-top: 39px;
  -webkit-box-shadow: -5px 8px 26px 0px #0000000a;
          box-shadow: -5px 8px 26px 0px #0000000a;
}

.difficulties__list {
  list-style: none;
  padding-left: 30px;
  padding-right: 35px;
  padding-top: 20px;
  color: #111518;
}

.difficulties__ordinal-number {
  color: #ff6b09;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
}

.difficulties__descripton {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
  color: #111518;
}

.campfire-svg {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .learning__container {
    height: 340px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .difficulties__container {
    max-width: calc(100% - 80px);
    bottom: 0;
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
    height: 303px;
  }
  .difficulties__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .difficulties__item {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
  }
  .difficulties__descripton {
    padding-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .learning__container {
    height: 548px;
    padding-left: 184px;
    padding-right: 184px;
  }
  .difficulties__container {
    bottom: 0;
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
    max-width: calc(100% - 368px);
    height: 354px;
  }
  .learning__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    margin-top: 114px;
  }
  .difficulties__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
    padding-left: 114px;
    padding-top: 68px;
  }
  .difficulties__item {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
  }
  .difficulties__descripton {
    padding-right: 40px;
    font-size: 20px;
    line-height: 28px;
  }
  .difficulties__ordinal-number {
    font-size: 20px;
    line-height: 164.9%;
  }
  .campfire-svg {
    display: initial;
  }
}
/*# sourceMappingURL=main.css.map */