/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
// @import './example';
@import './common';
@import './containers';
@import './header';
@import './hero';
@import './advantages';
@import './mobile-menu';
@import './problems-mobile';
@import './problems-tablet';
@import './problems-desktop';
@import './teacher';
@import './contacts';
@import './contact-form';
@import './footer';
@import './copyright';

@import './program';
@import './benefits';

// Style dla slidera OwlCarousel
@import './owl.carousel.scss';
@import './owl.theme.default.scss';
