 <!--  ADVANTAGES  -->
      <section class="advantages__section section">
        <ul class="advantages list">
          <li class="advantages__item">
            <svg class="advantages__icon">
              <use href="./images/icons.svg#icon-advantages-1"></use>
            </svg>
            <p class="advantages__description">Adapted author's UPE program</p>
          </li>
          <li class="advantages__item">
            <svg class="advantages__icon">
              <use href="./images/icons.svg#icon-advantages-2"></use>
            </svg>
            <p class="advantages__description">Modern teaching methods</p>
          </li>
          <li class="advantages__item">
            <svg class="advantages__icon">
              <use href="./images/icons.svg#icon-advantages-3"></use>
            </svg>
            <p class="advantages__description">Financial guarantee the result</p>
          </li>
        </ul>
      
      </section>
<!--  END ADVANTAGES  -->