<!--  BENEFITS  -->
<!--  made by Mateusz copied from problems.html  -->
<section class="benefits">
    <div class="benefits__container">
        <h2 class="benefits__title">
            Why do people choose us
        </h2>
        
        <div class="benefits__list-wrapper">

            <ul class="list benefits__list">
                <li class="benefits__item">
                    <p class="benefits__ordinal-number">— 01</p>
                    <p class="benefits__descripton">Training in small groups</p>
                </li>
                <li class="benefits__item">
                    <p class="benefits__ordinal-number">— 02</p>
                    <p class="benefits__descripton">Rendered notes</p>
                </li>
                <li class="benefits__item">
                    <p class="benefits__ordinal-number">— 03</p>
                    <p class="benefits__descripton">Each lesson has a goal and<br> a specific result</p>
                </li>
                <li class="benefits__item">
                    <p class="benefits__ordinal-number">— 04</p>
                    <p class="benefits__descripton">The real results of the<br> teacher</p>
                </li>
                <li class="benefits__item">
                    <p class="benefits__ordinal-number">— 05</p>
                    <p class="benefits__descripton">The course program meets<br> the requirements of the<br> MES of Ukraine</p>
                </li>
                <li class="benefits__item">
                    <p class="benefits__ordinal-number">— 06</p>
                    <p class="benefits__descripton">Set of groups by level of<br> knowledge</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--  END BENEFITS  -->