 <!--   mobile-menu -->      
   <div class="backdrop is-hidden" mobile-menu>
      <div class="menu-open__mobile-modal">
        <button class="menu-open__btn-close" type="button" mobile-menu-close>
          <svg class="btn-close__icon" width="18" height="18">
            <use href="./images/icons.svg#icon-modal-close"></use>
          </svg>
        </button>
        <a class="menu-open__logo logo" href="./index.html">
          <svg class="menu-open__logo-icon">
            <use href="./images/icons.svg#icon-logo-white"></use>
          </svg>
        </a>

        <nav class="menu-open__navigation">
          <ul class="menu-open__list list">
            <li class="menu-open__item">
              <a class="menu-open__link link" href="#Program">Studying program</a>
            </li>
            <li class="menu-open__item">
              <a class="menu-open__link link link--current" href="#teacher">About</a>
            </li>
            <li class="menu-open__item">
              <a class="menu-open__link link" href="#how">Training options</a>
            </li>
            <li class="menu-open__item">
              <a class="menu-open__link link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>

        <button class="menu-open__btn btn btn--transparent" type="button">
          consultation by phone
        </button>
      </div>
    </div>
   <!-- END  mobile-menu -->