 <!--   mobile-menu -->      
      <div class="backdrop is-hidden" mobile-menu>
        <div class="menu-open__mobile-modal">
          <button class="menu-open__btn-close" type="button" mobile-menu-close>
            <svg class="btn-close__icon" width="18" height="18">
              <use href="./images/icons.svg#icon-modal-close"></use>
            </svg>
          </button>
           <a class="menu-open__logo logo" href="./index.html">
            <svg class="menu-open__logo-icon">
              <use href="./images/icons.svg#icon-logo-white"></use>
            </svg>
          </a>

          <nav class="menu-open__navigation">
                  
            <ul class="menu-open__menu list">
              <li class="menu-open__item">
                <a class="menu-open__link link" href="#">Studying program</a>
              </li>
              <li class="menu-open__item">
                <a class="menu-open__link link current" href="#">About</a>
              </li>
              <li class="menu-open__item">
                <a class="menu-open__link link" href="#">Training options</a>
              </li>
              <li class="menu-open__item">
                <a class="menu-open__link link" href="#">Contacts</a>
              </li>
            </ul>
          </nav>
          
          <button class="menu-open__btn btn btn--transparent" type="button">consultation by phone</button>
        </div>
      </div>
   <!-- END  mobile-menu -->