<section class="problems">
    <div class="learning__container">
        <h2 class="learning__title">
            The main problems of students <br>
            in English UPE, which<br>
            we <span class="learning__title-decoration">help</span> to solve

        </h2>
        <img src="./images/Campfire.svg" alt="rysunek" class="campfire-svg" width="399">
        <div class="difficulties__container">

            <ul class="list difficulties__list">
                <li class="difficulties__item">
                    <p class="difficulties__ordinal-number">— 01</p>
                    <p class="difficulties__descripton">Grammar</p>
                </li>
                <li class="difficulties__item">
                    <p class="difficulties__ordinal-number">— 02</p>
                    <p class="difficuliies__descripton">Inability to understand
                        spoken English</p>
                </li>
                <li class="difficulties__item">
                    <p class="difficulties__ordinal-number">— 03</p>
                    <p class="difficulties__descripton">Stingy vocabulary for writing an essay</p>
                </li>
                <li class="difficulties__item">
                    <p class="difficulties__ordinal-number">— 04</p>
                    <p class="difficulties__descripton">Preparing alone</p>
                </li>
                <li class="difficulties__item">
                    <p class="difficulties__ordinal-number">— 05</p>
                    <p class="difficulties__descripton">Lack of a single knowledge resource</p>
                </li>
                <li class="difficulties__item">
                    <p class="difficulties__ordinal-number">— 06</p>
                    <p class="difficulties__descripton">Lack of self-organization and laziness</p>
                </li>
            </ul>
        </div>
    </div>
</section>