 <!--  PROGRAM  -->
 <!--  made by Mateusz  -->
 <section class="program section">
    <div class="program__container container">
        <div class="program__photo"></div>

      <h2 class="program__header" id="Program">Our Program</h2>
      <div class="program__list--line-desktop"></div>
      <div class="program__list--wrapper">
        <div class="program__list--line"></div>
        <ul class="program__list">
          <li class="program__list--semester">
              <div class="program__list--dot dot"></div>
              <p class="program__list--title">1 SEMESTER</p>
              <ul class="program__list--sections">
                  <li><div class="program__list--section-wrapper">
                      <p class="program__list--section">— Grammar</p>
                      <ul class="program__list--modules">
                          <li class="program__list--module">Nouns & Articles</li>
                          <li class="program__list--module">Adjectives & Adverb</li>
                      </ul>
                      </div>
                  </li>
                  <li><div class="program__list--section-wrapper">
                      <p class="program__list--section">— Vocabulary</p>
                      <ul class="program__list--modules">
                          <li class="program__list--module">Family & Relations</li>
                          <li class="program__list--module">People & Society</li>
                      </ul>
                      </div>
                  </li>
              </ul>
          </li>

          <li class="program__list--semester">
            <div class="program__list--dot"></div>
            <p class="program__list--title">2 SEMESTER</p>
              <ul class="program__list--sections">
                  <li><div class="program__list--section-wrapper">
                      <p class="program__list--section">— Grammar</p>
                      <ul class="program__list--modules">
                          <li class="program__list--module">Pronouns</li>
                          <li class="program__list--module">Active Voice</li>
                          <li class="program__list--module">Passive Voice</li>
                      </ul>
                      </div>
                  </li>
                  <li><div class="program__list--section-wrapper">
                      <p class="program__list--section">— Vocabulary</p>
                      <ul class="program__list--modules">
                          <li class="program__list--module">Home</li>
                          <li class="program__list--module">School</li>
                          <li class="program__list--module">Work</li>
                          
                      </ul>
                      </div>
                  </li>
              </ul>
          </li>

          <li class="program__list--semester">
            <div class="program__list--dot"></div>
            <p class="program__list--title">3 SEMESTER</p>
              <ul class="program__list--sections">
                  <li><div class="program__list--section-wrapper">
                      <p class="program__list--section">— Grammar</p>
                      <ul class="program__list--modules">
                        <li class="program__list--module">Modal verbs</li>
                        <li class="program__list--module">Infinitive</li>
                        <li class="program__list--module">Gerund</li>
                        <li class="program__list--module">Participle: 1, 2</li>
                      </ul>
                      </div>
                  </li>
                  <li><div class="program__list--section-wrapper">
                      <p class="program__list--section">— Vocabulary</p>
                      <ul class="program__list--modules">
                          <li class="program__list--module">Travel & Tourism</li>
                          <li class="program__list--module">Culture & Free Time</li>
                          <li class="program__list--module">Sport</li>
                      </ul>
                      </div>
                  </li>
                  <li><div class="program__list--section-wrapper">
                    <p class="program__list--section">— Writing</p>
                    <ul class="program__list--modules">
                        <li class="program__list--module">Informal Letter</li>
                    </ul>
                    </div>
                </li>
              </ul>
          </li>

          <li class="program__list--semester">
            <div class="program__list--dot"></div>
                <p class="program__list--title">4 SEMESTER</p>
                <ul class="program__list--sections">
                  <li><div class="program__list--section-wrapper">
                      <p class="program__list--section">— Grammar</p>
                      <ul class="program__list--modules">
                          <li class="program__list--module">Clauses: Conditional and Wishes</li>
                          <li class="program__list--module">Direct / Reported speech</li>
                          <li class="program__list--module">Preposition</li>
                          <li class="program__list--module">Conjunction</li>
                          <li class="program__list--module">Numeral</li>
                      </ul>
                      </div>
                  </li>
                  <li><div class="program__list--section-wrapper">
                      <p class="program__list--section">— Vocabulary</p>
                      <ul class="program__list--modules">
                          <li class="program__list--module">Healthy Living</li>
                          <li class="program__list--module">Nature & Environment</li>
                          <li class="program__list--module">Money</li>
                      </ul>
                      </div>
                  </li>
                  <li><div class="program__list--section-wrapper">
                    <p class="program__list--section">— Writing</p>
                    <ul class="program__list--modules">
                        <li class="program__list--module">Formal Letter</li>
                    </ul>
                    </div>
                </li>
              </ul>
          </li>

          <li class="program__list--semester">
            <div class="program__list--dot"></div>
            <p class="program__list--title">5 SEMESTER</p>
              <ul class="program__list--sections">
                  <li><div class="program__list--section-wrapper">
                      <p class="program__list--section">— </p>
                      <ul class="program__list--modules">
                          <li class="program__list--module">Revision</li>
                          <li class="program__list--module">Tests</li>
                      </ul>
                      </div>
                  </li>
              </ul>
          </li>
        </ul>
    </div>
    </div>
  </section>
<!--  END PROGRAM  -->